@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

:root {
  font-family: 'Rakkas', serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}